<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Reg</title>
</head>
<body>
    <h1>Login and Reg</h1>
    <h3>Sign In:</h3>
    <form action="/user/login" method="post">
        <p>Email:</p>
        <input type="text" name="email" id="email">
        {%for message in get_flashed_messages(category_filter=["err_user_email_login"]%}
        <p>{{message}}</p>
        {%endfor%}
        <p>Password:</p>
        <input type="text" name="password" id="password">
        {% for message in get_flashed_messages(category_filter=["err_user_password_login"]%}
        {{message}}
        {%endfor%}
        <button>Submit</button>
    </form>


    <h1>Register</h1>
    <form action="/user/create" method="post">
        <p>First Name:</p>
        <input type="text" name="first_name" id="first_name">
        {%for message in get_flashed_messages(category_filter=["err_user_email_login"]%}
        <p>{{message}}</p>
        {%endfor%}
        <p>Last Name:</p>
        <input type="text" name="last_name" id="last_name">
        {%for message in get_flashed_messages(category_filter=["err_user_email_login"]%}
        {{message}}
        {%endfor%}
        <p>Email:</p>
        <input type="text" name="email" id="email">
        {%for message in get_flashed_messages(category_filter=["err_user_email_login"]%}
        <p>{{message}}</p>
        {%endfor%}
        <p>Password:</p>
        <input type="text" name="password" id="password">
        {%for message in get_flashed_messages(category_filter=["err_user_email_login"]%}
        <p>{{message}}</p>
        {%endfor%}
        <button>Submit</button>
    </form>
</body>
</html>